{% extends 'base.html' %}

{% block app_content %}
<div class="container">
    <div class="card mb-4 bg-light shadow-sm">
        <div class="card-body">
            <h4 class="card-title">导入教师名单</h4>
            <p>当前账号仅允许导入<strong class="text-primary">{{ current_user.school_name }}</strong>-<strong class="text-primary">{{ current_user.grade_name }}</strong>教师信息。</p>
            {% from 'bootstrap5/form.html' import render_form %}
            {{ render_form(form) }}
        </div>
    </div>

    <div class="card mb-4 bg-light shadow-sm">
        <div class="card-body">
            <h4 class="card-title">文档要求说明</h4>
            <ul class="list-group">
                <li class="list-group-item">1. 仅支持xlsx文件，存在多个工作表的，<strong class="text-primary">仅会读取第一个工作表。</strong></li>
                <li class="list-group-item">2. 文件必须包含以下列：<strong class="text-primary">姓名、身份证号、任教学科、学校名称、任教学届</strong>。</li>
                <li class="list-group-item">3. 系统将自动处理以下信息：
                    <ul>
                        <li>编码：使用身份证号</li>
                        <li>密码：使用身份证号后6位</li>
                        <li>角色：默认为"任课教师"</li>
                        <li>性别：根据身份证号自动判断</li>
                        <li>是否启用：默认为启用状态</li>
                    </ul>
                </li>
                <li class="list-group-item">4. 数据校验要求：
                    <ul>
                        <li>身份证号：必须是合法的18位身份证号码</li>
                        <li>学校名称：与当前用户学校名称一致</li>
                        <li>任教学届：与当前用户学届一致</li>
                        <li>任教学科：只能为以下之一：语文、数学、英语、物理、化学、生物、政治、历史、地理</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}