{% extends 'base.html' %}

{% block app_content %}
    <h1 py-2>导入用户</h1>
    <div class="row py-2">
        <div>
            {% from 'bootstrap5/form.html' import render_form %}
            {{ render_form(form) }} 
        </div>
    </div>
    <h5 class="card-title py-2">文档格式要求：</h5>
    <ul class="list-group py-2">
        <li class="list-group-item">1. 仅支持xlsx文件，且文件仅需包含4列，列名必须是<strong>"用户名"、"密码"、"学届"、"学校简称"</strong>。</li>
        <li class="list-group-item">2. 建议按<strong>"高20xx届"的形式命名学届。</strong>。</li>
        <li class="list-group-item">3. 学校简称只能是下列之一：<strong>梁平中学、永川中学、潼南中学、涪陵五中、开州中学、万州中学、丰都中学。</strong></li>
    </ul>
{% endblock %}