{% extends 'base.html' %}

{% block app_content %}
    <h2>新增考生</h2>
    {% if preview %}
        <div class="card mb-4 bg-light shadow-sm">
            <div class="card-body">
                <h4 class="card-title">请确认以下信息</h4>
                <table class="table">
                    <tr>
                        <th>姓名</th>
                        <td>{{ student.name }}</td>
                    </tr>
                    <tr>
                        <th>考号</th>
                        <td>{{ student.exam_no }}</td>
                    </tr>
                    <tr>
                        <th>考生类型</th>
                        <td>{{ student.exam_type }}</td>
                    </tr>
                    <tr>
                        <th>科类属性</th>
                        <td>{{ student.subject_type }}</td>
                    </tr>
                    <tr>
                        <th>学校代码</th>
                        <td>{{ student.school_code }}</td>
                    </tr>
                    <tr>
                        <th>学校名称</th>
                        <td>{{ student.school_name }}</td>
                    </tr>
                    <tr>
                        <th>班级代码</th>
                        <td>{{ student.class_name }}</td>
                    </tr>
                    <tr>
                        <th>学届</th>
                        <td>{{ student.grade_name }}</td>
                    </tr>
                </table>
                <div class="mt-3">
                    <form action="{{ url_for('new_student') }}" method="post">
                        <input type="hidden" name="confirm" value="1">
                        <input type="hidden" name="name" value="{{ student.name }}">
                        <input type="hidden" name="exam_no" value="{{ student.exam_no }}">
                        <input type="hidden" name="exam_type" value="{{ student.exam_type }}">
                        {{ form.csrf_token }}
                        <button type="submit" class="btn btn-primary">确认添加</button>
                        <a href="{{ url_for('new_student') }}" class="btn btn-secondary">返回修改</a>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-6">
                {% from 'bootstrap5/form.html' import render_form %}
                {{ render_form(form) }}
            </div>
        </div>
    {% endif %}
{% endblock %}