{% extends 'base.html' %}

{% block app_content %}
    <h2>各校考生导入情况</h2>
    <div class="row">        
        <table class="table">
            <thead>
                <tr>
                    <th>学校名称</th>
                    <th>已导入考生人数</th>
                </tr>
            </thead>
            <tbody>
                {% for stat in student_stats %}
                <tr>
                    <td>{{ stat.school_name }}</td>
                    <td>{{ stat.student_count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ url_for('export_students') }}" class="btn btn-primary" role="button" aria-pressed="true">导出所有考生</a>
{% endblock %}