{% extends 'base.html' %}

{% block app_content %}
<h2>欢迎访问学校用户面板</h2>
<p class='py-3'>本面板用于全通系统用于跨校联考时的考生列表及阅卷教师列表的管理，支持以下功能：</p>
<ul class="list-group">
    <li class="list-group-item">1. 从Excel文件批量导入账号对应学校学届考生</li>
    <li class="list-group-item">2. 新增单个考生</li>
    <li class="list-group-item">3. 在考生列表处，可对已导入考生信息进行编辑和删除</li>
    <li class="list-group-item">4. 导出账号所属学届所有(包含其他学校)考生信息</li>
    <li class="list-group-item">5. 从Excel文件批量导入本校教师</li>
    <li class="list-group-item">6. 在教师列表处，可对已导入教师信息进行编辑和删除</li>
    <li class="list-group-item">7. 导出所有(包含其他学校)教师信息</li>
</ul>
<p class='py-3'>当前账号所属学校为：<span class="text-primary">{{ current_user.school_name }}</span>，所属学届为：<span class="text-primary">{{ current_user.grade_name }}</span>。请点击 <span class="text-primary">顶部菜单栏</span> 对应条目开始使用！</p>
{% endblock %}